.main-theme {
    background-color: rgb(46, 32, 46);
    color: white;
}

.title {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3vw;
    left: 20px;
}

.title-not-main {
    position: absolute;
    top: 20px;
}

.login {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.box-login {
    height: 1.5em;
    background-color: rgb(216, 178, 216);
    font-size: 1em;
    position: relative;
    margin-bottom: 0.5em;
}

.main-bar {
    background-color: rgba(118, 124, 35, 0.329);
    color: white;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 80px;
    width: 100%;
}

.options {
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: right;
}

.main-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

.menu-button {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 400px;
    margin-bottom: 2em;
    font-size: 1em;
    font-family: sans-serif;
}

.border {
    margin-top: 50vw;
    border-color: goldenrod;
}

.music-visual {
    position: absolute;
    bottom: 50vw;
}