.main-theme {
    background-color: rgb(46, 32, 46);
    color: white;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
}

.login {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.box-login {
    height: 1.5em;
    background-color: rgb(150, 107, 150);
    font-size: 1em;
    border-bottom: 0.5em;
}