.main-theme {
    background-color: rgb(46, 32, 46);
    color: white;
}

.title {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3vw;
    left: 20px;
}

.title-not-main {
    position: absolute;
    top: 20px;
}

.login {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.box-login {
    height: 1.5em;
    background-color: rgb(216, 178, 216);
    font-size: 1em;
    position: relative;
    margin-bottom: 0.5em;
}

.main-bar {
    background-color: rgba(118, 124, 35, 0.329);
    color: white;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 5.5vw;
    width: 100%;
}

.options {
    flex: 0;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
}

.bi {
    padding-left: 10px;
}

.main-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

.menu-button {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 400px;
    margin-bottom: 2em;
    font-size: 1em;
    font-family: sans-serif;
}

.border {
    margin-top: 50vw;
    border-color: goldenrod;
}

.music-visual {
    position: absolute;
    top: 6vw;
    bottom: 50vw;
    border-width: 2px 0;
    border-color: goldenrod;
}

.instrument {
    flex: 0;
    display: flex;
    flex-direction: row;
    height: 22vw;
    border-width: 2px 0;
    border-color: goldenrod;
}

#instrumentSelect {
    position: absolute;
    left: 20px;
}

.instrument-visual {
    position: absolute;
    left: 100px;
}

.length {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50vw;
    left: 0;
    right: 50vw;
    border-width: 2px;
    border-color: goldenrod;
    align-items: center;
}

.length-input {
    max-width: 80px;
}

.press {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: red;
}

.pitch {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50vw;
    left: 50vw;
    border-width: 2px;
    border-color: goldenrod;
}

.pitch-wheel {
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.icon {
    width: 15vw;
    height: 10vw;
    text-align: center;
    font-size: 5vw;
    margin-top: 2vw;
    margin-left: 1vw;
}

.icon-C {
    background-color: red;
}

.icon-C\#Db {
    background-color: orangered;
}

.icon-D {
    background-color: orange;
}

.icon-D\#Eb {
    background-color: #fa3;
}

.icon-E {
    background-color: yellow;
}

.icon-F {
    background-color: rgb(0, 255, 0)
}

.icon-F\#Gb {
    background-color: rgb(37, 122, 66);
}

.icon-G {
    background-color: seagreen
}

.icon-G\#Ab {
    background-color: indigo;
}

.icon-A {
    background-color: purple;
}

.icon-A\#Bb {
    background-color: magenta;
}

.icon-B {
    background-color: hotpink;
}

#current {
    border-width: .5vw;
    border-color: white;
}

/*.center-display {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: black;
}*/

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.text-input {
    width: 60vw;
    margin-bottom: 20px;
}

.folders {
    display: grid;
    margin-left: 0;
    margin-top: 5.5vw;
}

.folder {
    width: 100vw;
    background-color: rgb(216, 178, 216);
    border-color: black;
    border-width: 2px 0;
    font-size: 2.5vw;
}

.lists {
    flex: 0;
    display: flex;
    flex-direction: row;
    margin-top: 8vw;
}

.list {
    align-items: center;
    width: 33vw;
    font-size: 1em;
}

.list-item {
    margin-top: 8px;
    margin-bottom: 8px;
}

.page {
    margin-top: 8vw;
}